html {
    font-size: 62.5%; 
}
header {
    background-color: lightgrey;
}
h1 {
    font-size: 3rem;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: bold;
    padding: 2%
}
nav {
    display:flex;
    padding: 1% 1% 1% 3%;
}
